/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dotted 8px #2fcabd;
    background-color: #0317edb3;
    color:rgb(250, 171, 25);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
body {
  background-color: rgb(225, 10, 110);
  font-weight: 200;
  color: #edc943;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}