/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dotted 8px #2d19de;
    background-color: #de8602b3;
    color:rgb(230, 10, 50);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
body {
  background-color: rgb(225, 10, 110);
}